/* Configuracion General*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

html{
    height: 100%;
}

body{
    background: url(/assets/img/fondorenta.jpg);
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    min-height: 100vh;
}
/* Estilo equipo pesado */
.bloque{
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}
.bloque button{
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}
.bloque button:hover{
    background-color: #ddd;
}
.bloque button.active{
    background-color: #ccc;
}
.contenido{
    display: none;
    padding: 2px 8px;
    border: 1px solid #ccc;
    border-top: none;
}
/* estilo del formulario*/
.ttle, h4{
    text-align: center;
    margin-top: 2px;
}
.formulario1{
    border: 1px solid rgb(179, 179, 179);
    background: #f8f8f8;
    border-radius: 15px;
    margin: 5px;
    padding: 5px;
    display: flex;
    height: 400px;
}
.for1{
    display: flex;
    margin: 5px;
    padding: 2px;
    justify-content: center;
}
#id{
    display: none;
}
#date{
    margin-left: 755px;
    margin-top: 10px;
    width: 120px;
    height: 25px;
}
.for2{
    display: flex;
    margin: 5px;
    padding: 2px;
    align-items: center;

    input, select{
        margin-left: 60px;
        width: 160px;
        height: 25px;
    }
    input,select::placeholder{
        text-align: center;
    }
    option{
        text-align: center;
    }
}
.for3{
    display: flex;
    margin: 5px;
    padding: 2px;
    align-items: center;
    input, select{
        margin-left: 60px;
        width: 160px;
        height: 25px;
    }
    input,select::placeholder{
        text-align: center;
    }
    option{
        text-align: center;
    }
}
.for4{
    display: flex;
    margin: 5px;
    padding: 2px;
    align-items: center;
    input, select{
        margin-left: 60px;
        width: 160px;
        height: 25px;
    }
    input,select::placeholder{
        text-align: center;
    }
    option{
        text-align: center;
    }
}
.for5{
    display: flex;
    margin: 5px;
    padding: 2px;
    align-items: center;
    input, select{
        margin-left: 60px;
        width: 160px;
        height: 25px;
    }
    input,select::placeholder{
        text-align: center;
    }
    option{
        text-align: center;
    }
}
.for6{
    display: flex;
    justify-content: right;
    margin: 4px;
    padding: 1px;
    align-items: center;

    input[type="button"]{
        width: 60px;
        height: 30px;
        margin: 5px;
        background-color: #fff3bf;
        color: #000;
        border: 1px solid #999;
    }
    input[type="button"]:hover{
        background-color: #facc00;
    }
}
/*sin de estilo del formulario*/
/* estilo del inventario*/
.tableform{
    border: solid 1px rgba(255, 255, 255, 0.2);
}
table{
    color: #000;
    font-size: 12px;
    table-layout: fixed;
    border-collapse: collapse;
    width: 100%;
}
thead{
    background: #facc00;
}
tbody{
    background-color: #fff;
}
th {
    padding: 20px 10px ;
    font-weight: 700;
    text-transform: uppercase;
}

td {
    padding: 15px;
    border-bottom: solid 1px #bebebe;
    text-align: center;
}


tbody tr {
    cursor: pointer;
}

tbody tr:hover {
    background: #faecb0;
}






/*fin del estilo del inventario*/
/* Estilo Flota de Vehiculos */
.bloque1{
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}
.bloque1 button{
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}
.bloque1 button:hover{
    background-color: #ddd;
}
.bloque1 button.active{
    background-color: #ccc;
}
.ctd1{
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}
/* Estilo de Herramienta Pequeñas */
.bloque2{
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1; 
}
.bloque2 button{
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}
.bloque2 button:hover{
    background-color: #ddd;
}
.bloque2 button.active{
    background-color: #ccc;
}
.ctd2{
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}
/* Estilo Staff */
.bloque3{
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}
.bloque3 button{
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}
.bloque3 button:hover{
    background-color: #ddd;
}
.bloque3 button.active{
    background-color: #ccc;
}
.ctd3{
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none; 
}
/* Estilo Suppliers */
.bloque4{
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}
.bloque4 button{
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}
.bloque4 button:hover{
    background-color: #ddd;
}
.bloque4 button.active{
    background-color: #ccc;
}
.ctd4{
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}
/* Estilo Customers */
.bloque5{
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}
.bloque5 button{
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}
.bloque5 button:hover{
    background-color: #ddd;
}
.bloque5 button.active{
    background-color: #ccc;
}
.ctd5{
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

/* Style tab links */
.tablink {
    background-color: transparent;
    color: #888;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 25px 16px;
    font-size: 16px;
    width: 180px;
    text-align: left;
    transition: all 0.6s ease-in-out;
  }

  .tablink:hover {
    background-color: #facc00;
    color: #000;
  }


  /* Style the tab content (and add height:100% for full page content) */
  .tabcontent {
    color: black;
    display: none;
    padding: 8px 10px;
    height: 100%;
    margin-top: 1px;
    border: 0.5px solid #999;
    border-radius: 5px;
    opacity: 0.98;
  }

  #Dashboard {background-color: #dee2e8;}
  #Equipment {background-color: #dee2e8;}
  #Vehicles {background-color: #dee2e8;}
  #Tools {background-color: #dee2e8;}
  #SmallTools {background-color: #dee2e8;}
  #Staff {background-color: #dee2e8;}
  #Suppliers {background-color: #dee2e8;}
  #Customers {background-color: #dee2e8;}


.mod{
    display: flex;

}

.mod1{
    background: #000;
}

.btn{
    display: block;
    background-color: black;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 13px 10px;
    font-size: 16px;
    width: 180px;
    text-align: left;
    transition: all 0.6s ease-in-out;
}
.btn:hover{
    background-color: #555;
    color: #fcc015;
}

.ctnido{
    color: #000;
    display: none;
    padding: 15px 10px;
    height: 528px;
    width: 750px;
    margin-top: 0px;
    border: 0.5px solid #777;
    border-radius: 0px;
    opacity: 0.97;
}
#Backhoes{background-color: transparent;}
#Brooms{background-color: transparent;}
#Dozers{background-color: transparent;}
#Excavators{background-color: transparent;}
#Lifts{background-color: transparent;}
#Forklifts{background-color: transparent;}
#Graders{background-color: transparent;}
#Loaders{background-color: transparent;}
#Pavers{background-color: transparent;}
#Rollers{background-color: transparent;}
#Skidsteers{background-color: transparent;}
#Misc{background-color: transparent;}

.reg{
    display: flex;
}
.reg1{
    background: #000;
}
.btnreg{
    display: block;
    background-color: black;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 13px 10px;
    font-size: 16px;
    width: 180px;
    text-align: left;
    transition: all 0.6s ease-in-out;
}
.btnreg:hover{
    background-color: #555;
    color: #fcc015;
}
.regctn{
    color: #000;
    display: none;
    padding: 15px 10px;
    height: 528px;
    width: 700px;
    margin-top: 0px;
    border: 0.5px solid #777;
    border-radius: 0px;
    opacity: 0.97;
}
#Dumptrucks{background-color: transparent;}
#Fueltrucks{background-color: transparent;}
#Lowboys{background-color: transparent;}
#Maintenancetrucks{background-color: transparent;}
#Pickups{background-color: transparent;}
#Vans{background-color: transparent;}
#Suvs{background-color: transparent;}
#Trailers{background-color: transparent;}
#Watertrucks{background-color: transparent;}
#Welder{background-color: transparent;}

.rgs{
    display: flex;
}
.rgs1{
    background: #000;
}
.btntl{
    display: block;
    background-color: black;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 13px 10px;
    font-size: 16px;
    width: 180px;
    text-align: left;
    transition: all 0.6s ease-in-out;
}
.btntl:hover{
    background-color: #555;
    color: #fcc015;
}
.rgctd{
    color: #000;
    display: none;
    padding: 15px 10px;
    height: 528px;
    width: 700px;
    margin-top: 0px;
    border: 0.5px solid #777;
    border-radius: 0px;
    opacity: 0.97;
}
#Compressors{background-color: transparent;}
#Compactors{background-color: transparent;}
#Drills{background-color: transparent;}
#Generator{background-color: transparent;}
#Hammers{background-color: transparent;}
#Misctools{background-color: transparent;}
#Pumps{background-color: transparent;}
#Pressurewashers{background-color: transparent;}
#Saws{background-color: transparent;}
#Surveyingtools{background-color: transparent;}
/*Contenedor Principal*/

.grid-container > *{
    border-radius: 2px;
    padding: 1px;
}


.header{
    grid-area: header;
    background: #facc00;
    .topnav{
        overflow: hidden;
    }
    .topnav a {
        float: left;
        display: block;
        color: black;
        text-align: center;
        margin: 2px;
        padding: 16px 20px;
        text-decoration: none;
        font-size: 14px;
      }
      .topnav a:hover {
        background-color: #ddd;
        color: black;
      }
      .topnav input[type=text] {
        float: right;
        padding: 4px;
        width: 130px;
        border: none;
        margin-top: 18px;
        margin-right: 5px;
        font-size: 14px;
      }
}

.navbar{
    grid-area: navbar;
    background: rgb(40,40,40);
    background: linear-gradient(0deg, rgba(40,40,40,1) 0%, rgba(26,26,26,1) 36%, rgba(0,0,0,1) 100%);
    opacity: 0.98;
}

.sidebar{
    grid-area: sidebar;
    background: rgb(40,40,40);
    background: linear-gradient(0deg, rgba(40,40,40,1) 0%, rgba(26,26,26,1) 36%, rgba(0,0,0,1) 100%);
    opacity: 0.98;
    position: sticky;
    top: 0;
    bottom: 0;
    padding: 0 0.5rem;

    .logo{
        color: #facc00;
        display: flex;
        justify-content: center;
        border-bottom: 1px solid #777;
        margin-top: 8px;
        height: 60px;
    }
 }

.main{
    grid-area: main;
}


/*Resolution Grafic*/

.grid-container{
    display: grid;
    gap: 1px;
    grid-template-areas:
    "header" 
    "navbar"
    "sidebar"
    "main";
}

@media (min-width: 600px){
    .grid-container{
        grid-template:
        "sidebar     header" 60px
        "sidebar     navbar" 140px
        "sidebar     main"   auto/
        230px        auto;
    }
}

@media (min-width: 900px){
    .grid-container{
        grid-template:
        "sidebar    header header" 60px
        "sidebar    main   navbar" 100px
        "sidebar    main   navbar" auto/
         195px       auto   150px;
    }
}